.app {
  width: 100vw;
  min-width: 280px;
  height: 100vh;
  display: flex;
  align-items: center;
}

@media (max-width: 833px) {
  .app {
    align-items: center;
    height: auto;
    max-height: none;
    flex-direction: column;
  }
}