.button-close {
  width: 26px;
  height: 26px;
  background: none;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.button-close::before,
.button-close::after {
  content: '';
  display: block;
  width: 34px;
  height: 3px;
  background-color: var(--border);
  position: absolute;
  transition: all 0.5s;
}

.button-close::before {
  transform: rotate(45deg);
}

.button-close::after {
  transform: rotate(-45deg);
}

.button-close:hover::before,
.button-close:hover::after {
  background: var(--text);
}
