.button-arrow {
  content: '';
  height: 38px;
  width: 38px;
  background-color: var(--panel);
  border-radius: 50%;
  opacity: 0.3;
  cursor: default;
}

.button-arrow::before,
.button-arrow::after {
  content: '';
  width: 14px;
  height: 3px;
  background-color: var(--border);
  position: absolute;
  top: 50%;
  margin-top: -1.5px;
  left: 50%;
  margin-left: -7px;
  transition: background-color 0.5s;
}

.button-arrow::before {
  border-radius: 3px 0px 0px 0px;
  transform: rotate(-30deg);
  transform-origin: center left;
}

.button-arrow::after {
  border-radius: 0px 0px 0px 3px;
  transform: rotate(30deg);
  transform-origin: center left;
}

.button-arrow_active {
  opacity: 1;
  cursor: pointer;
}

.button-arrow_active:hover::before,
.button-arrow_active:hover::after {
  background-color: var(--text);
}