@import 'normalize.css';
@import 'nullstyles.css';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700;900&display=swap');

:root {
  --grey: #48484A;
  --hint: #ACACAC;
  --background-light: #F1F1F1;
  --panel-light: #FFF;
}

body {
  font-size: 14px;
  font-family: 'Rubik', sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.side-bar,
.side-bar-search {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 460px;
  padding: 45px 45px 35px 45px;
}

/* begin side-bar-search */
.side-bar-search {
  position: absolute;
  top: 0px;
  transition: left 0.5s;
  background: var(--panel-light);
}

.shown {
  left: 0px;
}

.hidden {
  left: -460px;
}

#button-hide-search {
  margin-bottom: 40px;
  align-self: end;
  width: 26px;
  height: 26px;
  cursor: pointer;
  background: none;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#button-hide-search::before,
#button-hide-search::after {
  content: '';
  display: block;
  width: 34px;
  height: 3px;
  background-color: var(--hint);
  position: absolute;
  transition: all 0.5s;
}

#button-hide-search::before {
  transform: rotate(45deg);
}

#button-hide-search::after {
  transform: rotate(-45deg);
}

#button-hide-search:hover::before,
#button-hide-search:hover::after {
  background: var(--grey);
}

#search-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 22px;
}

#search-field {
  padding: 0 15px 0 42px;
  height: 50px;
  width: 100%;
  border-radius: 10px;
  border: 2px solid var(--hint);
  background: no-repeat url('../image/search.svg');
  background-position: 17px 50%;
  font-weight: 700;
  font-size: 18px;
  color: var(--grey);
}

#search-field::placeholder {
  font-weight: 400;
  color: var(--hint);
}

/* end side-bar-search */

/* begin side-bar */
.side-bar {
  background: no-repeat url('../image/cloudsBack.svg'), var(--panel-light);
  background-size: 102% auto;
  background-blend-mode: difference;
  background-position: center 20%;
}

.imageWeather {
  flex-grow: 1;
  width: 200px;
  align-self: center;
}

.temperature {
  margin-bottom: 15px;
  align-self: center;

  color: var(--grey);
  font-size: 96px;
  font-weight: 900;
}

.temperature span {
  font-size: 50px;
  font-weight: 500;
}

.description {
  margin-bottom: 15px;
  align-self: center;

  color: var(--grey);
  font-size: 36px;
  font-weight: 700;
}

.feeling {
  margin-bottom: 80px;
  align-self: center;

  color: var(--hint);
  font-size: 18px;
  font-weight: 400;
}

.today {
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  color: var(--hint);
  font-size: 18px;
  font-weight: 400;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--hint);
  font-size: 18px;
  font-weight: 400;
}

.location img {
  margin-right: 10px;
  height: 40px;
}

/* end side-bar */

.main {
  height: 100%;
  flex-grow: 1;
  background-color: var(--background-light);
}

.button {
  padding: 0 27px;
  height: 50px;
  max-width: 100%;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: var(--grey);
  border-radius: 10px;
  border: 2px solid var(--hint);
  background: var(--panel-light);
}

.button-small {
  align-self: flex-end;
  flex-shrink: 1;
  min-width: none;
  padding: 0 20px;
}