@import 'normalize.css';
@import 'nullstyles.css';
@import 'side-bar.css';
@import 'buttons.css';
@import 'panels.css';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap');

:root {
  --text: #48484A;
  --hint: #ACACAC;
  --very-hint: #D3D3D3;
  --background: #F1F1F1;
  --panel: #FFF;
  --switcher-theme-color: #E6E6E6;
}

.dark-mode {
  --text: #E6E6E6;
  --hint: #ACACAC;
  --very-hint: #6D6D6D;
  --background: #100E1C;
  --panel: #212331;
  --switcher-theme-color: #EC6E4D;
}

body {
  font-size: 14px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--text);
  background-color: var(--background);
  transition: none !important;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.container {
  width: 1440px;
  height: 720px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  position: relative;
}

.main {
  flex-grow: 1;
  max-width: 100%;
  width: 100%;
  overflow: hidden;
  padding: 45px 130px 45px 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main__switchers {
  margin-bottom: 25px;
  align-self: flex-start;
  display: flex;
}

.switchers {
  display: flex;
  align-items: center;
  gap: 24px;
}

.switchers__title {
  font-weight: 700;
  font-size: 24px;
}

.switchers__nav {
  display: flex;
  gap: 16px;
}

.switchers__button {
  font-size: 20px;
  font-weight: 700;
  color: var(--hint);
  background: none;
  transition: color 0.5s;
  position: relative;
}

.switchers__button::after {
  content: '';
  height: 3px;
  width: 100%;
  background-color: var(--text);
  position: absolute;
  left: 0;
  bottom: -9px;
  opacity: 0;
  transition: opacity 0.5s;
  cursor: default;
}

.switchers__button:hover,
.switchers__button:hover::after {
  color: var(--text);
  opacity: 1;
}

.switchers__button_active,
.switchers__button_active::after {
  color: var(--text);
  cursor: text;
  opacity: 1;
}

.main__swiper {
  margin-bottom: 38px;
  max-width: 100%;
}

.swiper {
  width: 100%;
  position: relative;
}

.swiper__button_left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -28px;
  margin-left: -38px;
}

.swiper__button_right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
  right: -28px;
  margin-right: -38px;
}

.swiper__items {
  display: none;
}

.swiper__items_shown {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 24px;
  overflow: hidden;
}

/* .swiper__item_hidden {
  display: none;
} */

.today-panels {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.today-panels__title {
  font-size: 24px;
  font-weight: 700;
}

.today-panels__group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 18px;
}