.panel-day,
.panel-hour {
  padding: 14px;
  max-width: 100px;
  width: 100px;
  min-width: 100px;
  height: 143px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--panel-light);
  box-shadow: 0px 7px 12px 0px rgba(0, 0, 0, 0.05);
  border-radius: 9px;
  position: relative;
}

.panel-day__image,
.panel-hour__image {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.panel-day__temperature {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.panel-day__temperature-night {
  color: #D3D3D3;
}

.panel-extra {
  padding: 20px 25px 25px 25px;
  max-width: 320px;
  width: 320px;
  min-width: 320px;
  height: 181px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: var(--panel-light);
  box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.panel-extra_size_small {
  height: 162px;
  justify-content: space-between;
}

.panel-extra__title {
  margin-bottom: 11px;
  font-size: 18px;
}

.panel-extra__info {
  font-size: 64px;
  font-weight: 900;
}

.panel-extra__measure {
  font-size: 36px;
  font-weight: 500;
}

.panel-extra__measure_size_small {
  font-size: 18px;
}

.panel-extra__direction-wind {
  font-size: 18px;
  font-weight: 300;
  margin-top: 3px;

  display: flex;
  align-items: center;
  gap: 12px;
}

.panel-extra__direction-wind::before {
  content: '';
  display: block;
  width: 38px;
  height: 38px;
  background: no-repeat url('../image/direction-wind.svg');
  transition: 0.5s;
}