.search-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 45px;
  background: var(--panel);
}

.search-panel_shown {
  left: 0;
  opacity: 1;
}

.search-panel__button-close {
  margin-bottom: 40px;
  align-self: end;
}

.search-history {
  display: flex;
  flex-direction: column;
  gap: 10px;

  font-size: 18px;
  font-weight: 700;
}

.search-history__item {
  color: var(--text);
  padding: 25px 60px 25px 25px;
  border-radius: 10px;
  background-color: var(--panel);
  cursor: pointer;
  word-break: break-all;
  transition: background-color 0.5s;
  position: relative;
}

.search-history__item::after {
  content: '';
  width: 11px;
  height: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  background: no-repeat url('../assets/arrow-active-search-history.svg');
  opacity: 0;
  transition: opacity 0.5s;
}

.search-history__item:hover {
  background-color: var(--bg-item-history);
  cursor: pointer;
}

.search-history__item_active {
  background-color: var(--bg-item-history);
  cursor: default;
}

.search-history__item:hover::after,
.search-history__item_active::after {
  opacity: 1;
}

@media (max-width: 1440px) {
  .search-panel {
    padding-right: calc(25px + (45 - 25) * ((100vw - 834px) / (1440 - 834)));
    padding-left: calc(25px + (45 - 25) * ((100vw - 834px) / (1440 - 834)));
  }
}

@media (max-width: 833px) {
  .search-panel {
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
  }
}
