.search-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 45px;
  background: var(--panel);
}

.search-panel_shown {
  left: 0;
  opacity: 1;
}

.search-panel__button-close {
  margin-bottom: 40px;
  align-self: end;
}

.search-form {
  display: flex;
  flex-direction: row;
  gap: 22px;
}