.search-form {
  display: flex;
  flex-direction: row;
  gap: 22px;
  margin-bottom: 40px;
  position: relative;
}

.search-form__search-field {
  padding: 0 15px 0 42px;
  height: 50px;
  min-height: 50px;
  width: 100%;
  border-radius: 10px;
  border: 2px solid var(--border);
  background: no-repeat url('../assets/search.svg');
  background-position: 17px 50%;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  position: relative;
}

.search-form__search-input {
  color: var(--text);
  height: 100%;
  width: 100%;
  z-index: 3;
  background: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--text);
}

.search-form__search-border {
  position: absolute;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: -2px;
  left: -2px;
  box-sizing: content-box;
  border-radius: 10px;
  border: 2px solid var(--text);
  opacity: 0;
  transition: opacity 0.5s;
}

.search-form__search-input:focus +
.search-form__search-border {
  opacity: 1;
}

.search-form__feedback {
  position: absolute;
  text-align: center;
  width: 100%;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  left: 50%;
  bottom: -35px;
  transform: translateX(-50%);
  color: #EC6E4D;
}

@media (max-width: 1439px) {
  .search-form {
    flex-direction: column;
  }

  .search-form__button {
    align-self: center;
  }
}
