.swiper {
  width: 720px;
  position: relative;
}

.swiper__button_prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -28px;
  margin-left: -38px;
}

.swiper__button_next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
  right: -28px;
  margin-right: -38px;
}

.swiper__items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 24px;
  overflow: hidden;
}

@media (max-width: 1439px) {
  .swiper {
    max-width: 596px;
  }

  .swiper__button_prev {
    left: calc(-13px + (-28 + 13) * ((100vw - 1276px) / (1440 - 1300)));
  }

  .swiper__button_next {
    right: calc(-13px + (-28 + 13) * ((100vw - 1276px) / (1440 - 1300)));
  }
}

@media (min-width: 1276px) {
  .swiper {
    max-width: 720px;
  }
}

@media (max-width: 1276px) {
  .swiper {
    max-width: 596px;
  }

  .swiper__button_prev {
    left: -13px;
  }

  .swiper__button_next {
    right: -13px;
  }
}

@media (max-width: 1316px) {
  .swiper {
    max-width: 596px;
  }

}

@media (max-width: 1192px) {
  .swiper {
    max-width: 472px;
  }

}

@media (max-width: 1068px) {
  .swiper {
    max-width: 348px;
  }
}

@media (max-width: 833px) {
  .swiper {
    width: 100%;
    max-width: 100%;
  }

  .swiper__items {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    gap: 30px;
  }

  .swiper__button_prev,
  .swiper__button_next {
    display: none;
  }
}

@media (max-width: 685px) {
  .swiper__items {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 555px) {
  .swiper__items {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 425px) {
  .swiper__items {
    grid-template-columns: 1fr 1fr;

  }
}

@media (max-width: 375px) {
  .swiper__items {
    column-gap: calc(10px + (30 - 10) * ((100vw - 280px) / (375 - 280)));
    row-gap: calc(10px + (30 - 10) * ((100vw - 280px) / (375 - 280)));
  }
}

@media (max-width: 280px) {
  .swiper__items {
    gap: 10px;
    justify-content: center;
  }
}